*{
    font-family:poppins,Sans-serif;
}
.main_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_elements{
    width: 600px;
    display: flex;
    justify-content: space-between;

}
#header_text{
    justify-content: space-between;
}
    #header_text a{
        color: black;
        text-decoration: none;
}
#header_button{
    background-color: #fe4953;
    border-radius: 50px;
    border: none;
    width: 25%;
    cursor: pointer;
}
#header_button a{
    text-decoration: none;
    color: white;
}
#header_button:hover{
    background-color: darkgrey;
}
.body_1{
    display: flex;
    width: 90%;
    margin:50px auto;
}
#body1_button{
    background-color: #fe4953;
    border-radius: 50px;
    border: none;
    padding: 4px 29px;
    cursor: pointer;
}
#body1_button:hover{
    background-color: dimgray;
}
#body1_button a{
    text-decoration: none;
    color: white;
}
#image_2{
    height: 520px;
    width: 520px;
}
#body_h1{
    font-size: 60px;
}
.body1_images{
    display: flex;
    height: 50px;
    width: 100px;
    
}
#body1_inimg2{
    margin-left: 20px;
}
#body1_inimg3{
    margin-left: 20px;
}
#body2_h1{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
}
.body2_content{
    display: flex;
    width: 85%; 
    margin:40px auto;
    align-items: center;
    justify-content: space-around;  
}
#body2_content1{
    margin-left: 40px;
}
.body3{
    display: flex;
    margin: 90px auto;
    justify-content: space-around;
}
.body3_1{
    width: 600px;
    background-color: rgb(251, 165, 194);
}
.body3_1_1 img{
    position: absolute; 
}
#i1{
    margin: 120px;
    margin-left: 300px;
}
#i2{
    margin-top: 180px;
    margin-left: 100px;
}
.body3_2{
    height: 350px;
    width: 500px;
    margin-top: 100px;
    margin-left: 40px;
    font-size: large;
}
.body3_2 a{
    text-decoration: none;
    color: #fe4953;
}

.body4{
    display: flex;
}
.body4_1{
    height: 400px;
    width: 500px;
    padding-left: 40px;
    margin-top: 100px;
    font-size: large;
}
.body4_1 a{
    text-decoration: none;
    color: #fe4953;
}
.body4_2{
    margin-left: 150px;
    background-color: rgb(248, 226, 197);
    height: 400px;
    width: 620px;
}
.body4_2 img{
    position: absolute;
}
#i4{
    margin-left: 100px;
    margin-top: 100px;
}
#i5{
  margin-top: 80px;
  margin-left: 250px;
}
.body5{
    display: flex;
    background-color: rgb(254, 254, 254);
    height: 650px;
    padding-top: 70px;
}
.body5_1{
  margin-left: 70px;  
 margin-top: 120px;
 text-align: left;
 width: 25%;
 font-size: large;
 
}
.body5_1 h1{
    font-size: 46px;
}
.body5_1 a{
    text-decoration: none;
    color: #fe4953;
}
.body5_2{

margin-left: 50px;
width: 30%;
background-color: whitesmoke;
text-align: center;
height: 520px;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.body5_3{
margin-top: -25px;
margin-left: -10px;
background-color: whitesmoke;
width: 30%;
text-align: center;
height: 570px;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.body5_button2{
    width: 120px;
    height: 52px;
    border-radius: 40px;
    background-color: #fe4953;
    border: none;
    cursor: pointer;

}
.body5_button2:hover{
    background-color: darkslategrey;
}
.body5_button3{
    cursor: pointer;
    width: 120px;
    height: 52px;
    border-radius: 40px;
    background-color: #fe4953;
    border: none;
}
.body5_button3:hover{
    background-color: darkslategray;
}
.body5_button2 a{
    text-decoration: none;
    color: black;
}
.body5_button3 a{
    text-decoration: none;
    color: black;
}
.body5_2 h2{
    background-color: cornflowerblue;
    margin: 0%;
    padding: 35px;
    border-radius: 20px;
}
.body5_3 h2{
    background-color: rgb(85, 206, 206);
    padding: 35px;
    margin: 0%;
    border-radius: 20px;
}
.price{
    display: flex;
}
.body6{
    margin-bottom: 150px;
}
.body6_1{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.body6_3{
    margin-left: 60px;
}
.body6_1 h1{
    font-size: 45px;
}
.body6_1 p{
    font-size: large;
}
.body6_23{
    display: flex;
    width: 90%;
    align-items: center;
    margin: auto;
}
#body6_image{
    height: 450px;
    width: 600px;
}
.body7{
    padding-top: 40px;
    text-align: center;
    background-color: rgb(241, 210, 169);
    height: 400px;
}
.body7 h1{
    font-size: 48px;
}
.body7_button{
    width: 170px;
    height: 55px;
    background-color: #fe4953;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.body7_button:hover{
    background-color: darkslategray;
}
.body7 a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.footer{
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 100px;
    height: 350px;
    background-color: rgb(11, 28, 48);
    display: flex;
    color: white;
}
.footer_button{
    background-color: #fe4953;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 18px 117px;
    font-weight: bolder;
}
.footer_button a{
    text-decoration: none;
    color: black;
    
}
.footer_button:hover{
    background-color: white;
    
}
.input1{
    padding: 18px 68px;
    border-radius: 30px;
    border: none;
}
.footer_images{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#footer_image{
    width: 20px;
    height: 20px;
    
}